@import "commont";


html,
body {
    width: 100%;
    height: 100%;
}

.banner-box {
    width: 100%;
    height: 100%;
    background: url(../img/y-photo0000-25882.jpg) repeat-x;
    overflow: hidden;

    .boxcenter {
        width: 835px;
        height: 500px;
        margin: 100px auto;
        background-color: pink;
    }
}